.product_name {
    @media screen and (max-width: 836px) {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
}

.title_name {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

    @media screen and (max-width: 836px) {
        padding-top: 16px;
    }
}

.text_name {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 22px;
}
