@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-family-main: 'Roboto', sans-serif;

$font-size-header: 26px;
$font-size-subheader: 18px;
$font-size-main: 16px;
$font-bold: 600;
