.product_detail {
}

.title_detail {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.text_detail {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 23px;
}
